
.article{
  width: 100%;
  margin-top: 50px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
  padding: 8px;

}

.article-title{
  color: #70706e;
}

.article-image{
  width: 100%;
  opacity: .75;
}

.article-content{ 
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  color: #70706e;
  padding: 8px;
}

.article-container{
  margin: auto;
  left: 50%;
  width: 50%;
  background-color: white;
}